<%- include('partials/header.ejs') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="text-center">
      <h1 class="display-1 fw-bold text-primary">401</h1>
      <h2 class="mb-4">Unauthorized Access</h2>
      <p class="lead">You do not have permission to access this page.</p>
      <a href="/" class="btn btn-primary mx-2">Go to Home</a>

    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>
