.customcard {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    max-width: 350px;
    width: 100%;
  }
  .customcard:hover {
    transform: scale(1.05);
  }